.page{ data: { controller: "local-auth",
               local_auth_uuid_value: @post.user.uuid,
               local_auth_port_value: @post.user.local_port,
               local_auth_path_value: post_content_path(@post.user.nickname, @post.uuid) } }
  .post{ data: { controller: "post", post_id: @post.id },
         class: ("scheduled-for-deletion" if @post.scheduled_for_deletion_at) }
    .content{ data: { local_auth_target: "content" }, style: "display: none;" }
      -# Сюда загрузится реальный контент если есть локальный доступ

    .placeholder{ data: { local_auth_target: "placeholder" } }
      %h2= @post.title
      .blur-text{ style: "filter: blur(1px); opacity: 0.5;" }
        = sanitize @masked_content

    = render "frontmatter", post: @post

:javascript
  document.addEventListener('keydown', function(event) {
    if (event.ctrlKey && event.key === 'x') {
      event.preventDefault();
      console.log('Ctrl+X pressed');
      const deleteButton = document.querySelector('.delete-button');
      if (deleteButton) {
        deleteButton.click();
      }
    }
  });