* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face { font-family: 'body';                     src: url('/fonts/IBMPlexSans-Text.woff') format('woff'); }
@font-face { font-family: 'body'; font-style: italic; src: url('/fonts/IBMPlexSans-TextItalic.woff') format('woff'); }
@font-face { font-family: 'body'; font-weight: 800;   src: url('/fonts/IBMPlexSans-Bold.woff') format('woff'); }

@font-face { font-family: 'mono';                     src: url('/fonts/IBMPlexMono-Text-Latin1.woff') format('woff'); }

body { font: 18px/28px body, sans-serif; }
pre, code { font-family: mono, monospace; }

body {
  background-color: #FEFEFE; /* fallback */
  color: #111;
  -webkit-font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
  -moz-font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
  font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 50px auto;
}
.page { width: 600px; margin: 0 auto; padding: 0 0 0 2px; }
.page_wide { width: 810px; }

.menu { width: 544px; margin: 0 auto 0; padding: 0 0 50px 0; vertical-align: top; }
.menu > li { list-style: none; display: inline-block; margin: 0 1.5em 0 0; vertical-align: top; }
.menu__item, a.menu__item { color: rgba(0,0,0,0.3); border-color: transparent; display: inline-block; }
.menu__item_selected,
a.menu__item_selected,
a.menu__item:hover { color: #000; border-bottom: 2px solid #000; }
.menu__item_inside, a.menu__item_inside { border-bottom: 2px solid rgba(0,0,0,0.2); }

.starred { margin: 0 0.5em 0 -1.5em; }

.post { width: 544px; margin: 15px auto; }
.post-item { white-space: nowrap; margin-bottom: 10px; }

.center { text-align: center; }

a { color: inherit;
  text-decoration: none;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  max-width: 250px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1;
}
a:hover { border-color: currentColor; }
p, blockquote { margin: 15px 0; }
h1 + p + blockquote { margin-bottom: 30px; margin-right: 1em; }
blockquote { padding-left: 1em; color: rgba(0,0,0,0.55); }
blockquote::before {content: "> "; float: left; margin: 0 0 0 -1em; }

.quote-author { text-align: right; font-size: 15px; }
strong { font-weight: 600; }
h1, h2 { margin: 2.5em 0 0.5em; }
h1 { font-size: 1.7em; }
h2 { font-size: 1.4em; }
h1 + h2 { margin: -0.75em 0 0.9em; }
.title { font-size: 2.5em; line-height: 50px; margin: 1.5em 0 0.75em 0; }

p > img, .fig, figure { margin: 2em 0; }
img { max-width: 100%; }

.fig, figure { text-align: center; font-size: 12px; line-height: 20px; font-style: italic; }
@media (min-width: 600px) {
  .fig, figure { width: 600px; margin-left: -28px; margin-right: -28px; }
}
.fig img, figure > img, figure > video, figure > a > img { margin: 0 auto 1em; display: block; border-radius: 3px; }
figure > video { max-width: 100%; }
.label { text-align: center; font-size: 12px; font-style: italic; margin: -1em 0 1em 0; }

code { font-style: normal; background: rgba(0,0,0,0.06); padding: 2px 6px; border-radius: 4px; font-size: 17px; white-space: nowrap; }
pre { font-size: 16px;
      background: rgba(0,0,0,0.06);
      padding: 16px 30px 14px;
      margin: 1em -30px;
      border-radius: 8px;
      white-space: pre-wrap;
      word-wrap: break-word;
      font-style: normal; }
pre > code { background: none; padding: 0; font-size: inherit; white-space: unset; }

ul { padding: 0 0 0 1em; list-style-type: square; }
ul > li, ol > li { margin: 0.5em 0; }

sup, sub, .note-ref, .note-number, .footnote { vertical-align: baseline; position: relative; font-size: .7em; line-height: 1; }
sup, .note-ref, .note-number, .footnote { bottom: 1.4ex; }
sub { top: .5ex; }

/* .about_photo { float: left; width: 100px; height: 160px; margin-left: -150px; margin-top: -10px; background: url("/photo.png"); background-size: 200px; }
.about_photo:hover { background-position: 100%; }
.about_inner { font-size: 16px; line-height: 24px; border: 2px solid rgba(0,0,0,0.2); border-radius: 4px; padding: 10px 20px; margin: -12px -22px; }
.about_inner > p { margin: 0 0 8px; } */
/* .btn-subscribe { line-height: 20px; text-decoration: none; background: rgba(0,0,0,0.1); border: none; font-size: 12px; padding: 0px 7px; display: inline-block; border-radius: 4px; position: relative; top: -1px; }
.btn-subscribe:hover { background: rgba(0,0,0,0.2); }
.btn-subscribe > svg { width: 21px; height: 21px; vertical-align: bottom; margin: 0 -2px 0 -5px; } */

.footnote { margin: 0 5px;  }
.footnotes-br { width: 100px; height: 2px; background: #000000; margin-top: 5em; }
.footnotes, .footnotes_alt { padding-left: 1em;  }
.footnotes_alt > li > .dagger { margin-left: -13px; }
.footnotes_alt { list-style: none; }

.notes { font-size: 0.8em; }
.note-number { margin-left: -1em; }

.date { color: rgba(0,0,0,0.55); font-size: 14px; margin-left: 4px; }

.footer { color: rgba(0,0,0,0.55); }
.footer { font-size: 16px; margin-bottom: 5em; }
.footer > .separator { margin: 0 4px; }
.footer > a { margin-right: 5px; }
.footer > a:hover { color: #000; }

.frontmatter{ color: #999; font-size: 12px; margin: 30px 0;}
.frontmatter > dt{ color: #999 }
.frontmatter > dd{ color: #999 }

hr { border: 1px dashed #999; }

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}

dt {
  float: left;
  width: 30%;
  padding: 0;
  margin: 0
}

dd {
  float: left;
  width: 70%;
  padding: 0;
  margin: 0
}

#hero {
  background: #C3E8F3;
  padding: 40px 100px;
  border-radius: 5px;
}

mark {
  background: #C3E8F3;
}

.large-textarea {
  width: 100%;
  height: 300px;
}

/* Styles from PicoCSS */
.button-custom {
  --background-color: #0172ad;
  --border-color: #0172ad;
  --color: #fff;
  --box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  padding: 0.75rem 1rem;
  border: 0.0625rem solid var(--border-color);
  border-radius: 0.25rem;
  outline: 0;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  color: var(--color);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.button-custom:hover {
  --background-color: #015887;
  --border-color: #015887;
  background-color: var(--background-color);
  border-color: var(--border-color);
}

.button-custom:focus {
  box-shadow: 0 0 0 0.125rem rgba(2, 154, 232, 0.5);
}

.button {
  display: inline-block;
  padding: 0.75rem 1rem;
  border: 0.0625rem solid #0172ad;
  border-radius: 0.25rem;
  background-color: #0172ad;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.button:hover {
  background-color: #015887;
  border-color: #015887;
}

.button:focus {
  box-shadow: 0 0 0 0.125rem rgba(2, 154, 232, 0.5);
}

.switch-custom {
  position: relative;
  display: inline-block;
  width: 2.25em;
  height: 1.25em;
  margin-right: 10px;
}

.switch-custom input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bfc7d9;
  transition: 0.2s;
  border-radius: 1.25em;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  left: 0.125em;
  bottom: 0.125em;
  background-color: white;
  transition: 0.2s;
  border-radius: 50%;
}

.switch-custom input:checked + .switch-slider {
  background-color: #0172ad;
}

.switch-custom input:checked + .switch-slider:before {
  transform: translateX(1em);
}

.form {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #f9f9f9;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  color: #333;
}

table th,
table td {
  padding: 0.25rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 1px solid #dee2e6;
}

.table .table {
  background-color: #fff;
}

/* .highlight {

  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-size: 15px;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 20px;

  pre {
    padding-bottom: 10px;
  }

  code,
  pre {
    color: #fdce93;
    background-color: #3f3f3f;
  }

  .hll {
    background-color: #222;
  }

  .err {
    color: #e37170;
    background-color: #3d3535;
  }

  .k {
    color: #f0dfaf;
  }

  .p {
    color: #41706f;
  }

  .cs {
    color: #cd0000;
    font-weight: 700;
  }

  .gd {
    color: #cd0000;
  }

  .ge {
    color: #ccc;
    font-style: italic;
  }

  .gr {
    color: red;
  }

  .go {
    color: gray;
  }

  .gs {
    color: #ccc;
    font-weight: 700;
  }

  .gu {
    color: purple;
    font-weight: 700;
  }

  .gt {
    color: #0040D0;
  }

  .kc {
    color: #dca3a3;
  }

  .kd {
    color: #ffff86;
  }

  .kn {
    color: #dfaf8f;
    font-weight: 700;
  }

  .kp {
    color: #cdcf99;
  }

  .kr {
    color: #cdcd00;
  }

  .ni {
    color: #c28182;
  }

  .ne {
    color: #c3bf9f;
    font-weight: 700;
  }

  .nn {
    color: #8fbede;
  }

  .vi {
    color: #ffffc7;
  }

  .c,
  .preview-zenburn .highlight .g,
  .preview-zenburn .highlight .cm,
  .preview-zenburn .highlight .cp,
  .preview-zenburn .highlight .c1 {
    color: #7f9f7f;
  }

  .l,
  .preview-zenburn .highlight .x,
  .preview-zenburn .highlight .no,
  .preview-zenburn .highlight .nd,
  .preview-zenburn .highlight .nl,
  .preview-zenburn .highlight .nx,
  .preview-zenburn .highlight .py,
  .preview-zenburn .highlight .w {
    color: #ccc;
  }

  .n,
  .preview-zenburn .highlight .nv,
  .preview-zenburn .highlight .vg {
    color: #dcdccc;
  }

  .o,
  .preview-zenburn .highlight .ow {
    color: #f0efd0;
  }

  .gh,
  .preview-zenburn .highlight .gp {
    color: #dcdccc;
    font-weight: 700;
  }

  .gi,
  .preview-zenburn .highlight .kt {
    color: #00cd00;
  }

  .ld,
  .preview-zenburn .highlight .s,
  .preview-zenburn .highlight .sb,
  .preview-zenburn .highlight .sc,
  .preview-zenburn .highlight .sd,
  .preview-zenburn .highlight .s2,
  .preview-zenburn .highlight .se,
  .preview-zenburn .highlight .sh,
  .preview-zenburn .highlight .si,
  .preview-zenburn .highlight .sx,
  .preview-zenburn .highlight .sr,
  .preview-zenburn .highlight .s1,
  .preview-zenburn .highlight .ss {
    color: #cc9393;
  }

  .m,
  .preview-zenburn .highlight .mf,
  .preview-zenburn .highlight .mh,
  .preview-zenburn .highlight .mi,
  .preview-zenburn .highlight .mo,
  .preview-zenburn .highlight .il {
    color: #8cd0d3;
  }

  .na,
  .preview-zenburn .highlight .nt {
    color: #9ac39f;
  }

  .nb,
  .preview-zenburn .highlight .nc,
  .preview-zenburn .highlight .nf,
  .preview-zenburn .highlight .bp,
  .preview-zenburn .highlight .vc {
    color: #efef8f;
  }
 } */